<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tongji.fiveidiots"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ui.IDoItApplication"
        android:icon="@drawable/icon_idoit"
        android:label="@string/app_name"
        android:theme="@style/Theme.GreenDroid" >
        <activity
            android:name=".ui.IDoItActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PomotimerActivity" >
        </activity>
        <activity
            android:name=".ui.OverviewTaskListActivity"
            android:theme="@style/Theme.IDoIt" >
        </activity>
        <activity android:name=".ui.TestingActivity" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name=".ui.PomotimerService"
            android:exported="false" >
        </service>

        <activity
            android:name=".ui.TaskDetailsActivity"
            android:theme="@style/Theme.IDoIt" >
        </activity>
        <activity android:name=".ui.TestingActivity" >
        </activity>
    </application>

</manifest>